.container {
  padding: 16px;
}

.add-button {
  margin: 20px 0;
  --border-radius: 12px;
  font-size: 18px;
  height: 60px;
}

.notes-preview {
  color: var(--ion-color-medium);
  font-size: 14px;
  margin-top: 4px;
  white-space: pre-wrap;
}

.empty-state {
  text-align: center;
  margin-top: 60px;
  color: var(--ion-color-medium);
}

.empty-state ion-icon {
  font-size: 80px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 16px;
  color: var(--ion-color-medium-tint);
}